* {
	box-sizing: border-box; 
	margin: 0;
}
.main-content {
	 margin-left: 0;
}
	@media only screen and (min-width: 700px){
		.main-content {
			 margin-left: 250px;
		} 
	}
.container-inset {
	max-width: 1200px;
	margin: 0 auto;
	padding:0 20px; 
}
.card-align {
	 align-items: flex-end;
}
.progress-align {
	align-items: center!important;
}
.card {
 	margin-bottom: 20px;
 	border: 1px solid gray;
}
.no-p {
	padding: 0;
}

.progress {
	height: 5px!important;
}
.progress-bar {
	width: 50%;
}

.navbar-vertical {
	 display: block!important;
	 position: fixed!important;
	 top: 0;
    width: 100%;
    max-width: 250px;
}
.text {
	margin-bottom: 30px;
}
.status {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.wrapper {
	padding: 20px;
}
.wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}
.cardi {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px; 
}
@media only screen and (min-width: 992px){
	 .cardi {
	 	 flex: 0 0 33.33%;
		max-width: 33.33%;
	 }
}


.cardi2 {
		border: 1px solid gray;
		border-radius: 10px;
}
.chart {
	position: relative;
}